*.iml
*.ipr
.idea
.settings
.classpath
.project
.buildpath
.sass-cache
.DS_Store
Thumbs.db
logs
doc
target
application.local.properties
/uploads/
.externalToolBuilders/
*.bak
*.md
*/META-INF/*
*/uploads/*
!/src/main/webapp/static/core/js/containers/employee/create.js
node_modules/
wx-crm/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

/target/
/static-content
