<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	     http://www.springframework.org/schema/context
	     http://www.springframework.org/schema/context/spring-context-4.0.xsd
	     http://www.springframework.org/schema/cache
	     http://www.springframework.org/schema/cache/spring-cache.xsd">
    <description>spring 全局配置文件</description>


    <!-- 扫描damei包下的所有类 -->
    <context:component-scan base-package="cn.damei" />



    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath*:/application.properties"
                                  file-encoding="UTF-8"/>


    <!-- 引入其他配置文件 -->
    <import resource="applicationContext-shiro.xml"/>
    <import resource="applicationContext-mybatis.xml"/>
    <import resource="applicationContext-db.xml"/>
    <import resource="applicationContext-mongodb.xml"/>
    <import resource="applicationContext-redis.xml"/>

</beans>