<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.damei.business.dao.orderflow.CustomerDao">
    <resultMap id="BaseResultMap" type="cn.damei.business.entity.orderflow.Customer">
        <id column="id" property="id"/>
        <id column="code" property="code"/>
        <id column="name" property="name"/>
        <id column="mobile" property="mobile"/>
        <id column="store_code" property="storeCode"/>
    </resultMap>

    <select id="getByCode"  resultMap="BaseResultMap">
        SELECT
            id,code,name,mobile,store_code
        FROM customer
        WHERE code = #{code}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.damei.business.entity.orderflow.Customer">
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="storeCode != null">
                store_code,
            </if>
            <if test="customerTag != null">
                customer_tag,
            </if>
            <if test="incomeSource != null">
                income_source,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="mobile != null">
                #{mobile},
            </if>
            <if test="storeCode != null">
                #{storeCode},
            </if>
            <if test="customerTag != null">
                #{customerTag},
            </if>
            <if test="incomeSource != null">
                #{incomeSource},
            </if>
        </trim>

    </insert>


    <update id="update" parameterType="cn.damei.business.entity.orderflow.Customer">
        UPDATE customer
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>