<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mdni.business.dao.material.CustomerContractDao">
    <resultMap id="BaseResultMap" type="cn.mdni.business.entity.orderflow.CustomerContract">
        <id column="id" property="id"/>
        <result column="contract_code" property="contractCode"/>
        <result column="customer_id" property="customerId"/>
        <result column="house_addr" property="houseAddr"/>
        <result column="designer" property="designer"/>
        <result column="designer_mobile" property="designerMobile"/>
        <result column="supervisor" property="supervisor"/>
        <result column="supervisor_mobile" property="supervisorMobile"/>
        <result column="project_manager" property="projectManager"/>
        <result column="pm_mobile" property="pmMobile"/>
        <result column="second_contact" property="secondContact"/>
        <result column="second_contact_mobile" property="secondContactMobile"/>
        <result column="meal_id" property="mealId"/>
        <result column="meal_price" property="mealPrice"/>
        <result column="layout" property="layout"/>
        <result column="build_area" property="buildArea"/>
        <result column="valuate_area" property="valuateArea"/>
        <result column="house_condition" property="houseCondition"/>
        <result column="elevator" property="elevator"/>
        <result column="house_type" property="houseType"/>
        <result column="address_province" property="addressProvince"/>
        <result column="address_city" property="addressCity"/>
        <result column="address_area" property="addressArea"/>
        <result column="activity_name" property="activityName"/>
        <result column="other_install_info" property="otherInstallInfo"/>
        <result column="design_remark" property="designRemark"/>
        <result column="audit_remark" property="auditRemark"/>
        <result column="contract_amount" property="contractAmount"/>
        <result column="modify_amount" property="modifyAmount"/>
        <result column="payment_time" property="paymentTime"/>
        <result column="single_order_info" property="singleOrderInfo"/>
        <result column="customer_name" property="customerName"/>
        <result column="customer_mobile" property="customerMobile"/>
        <result column="meal_name" property="mealName"/>
        <result column="designer_org_code" property="designerOrgCode"/>
        <result column="auditor" property="auditor"/>
        <result column="auditor_mobile" property="auditorMobile"/>
        <result column="auditor_org_code" property="auditorOrgCode"/>
        <result column="contract_status" property="contractStatus"/>
        <result column="finance_status" property="financeStatus"/>
        <result column="change_status" property="changeStatus"/>
        <result column="operate_time" property="operateTime"/>
        <result column="current_change_version" property="currentChangeVersion"/>
        <result column="operat_user" property="operatUser"/>
        <result column="service_code" property="serviceCode"/>
        <result column="service_name" property="serviceName"/>
        <result column="service_mobile" property="serviceMobile"/>
        <result column="designer_code" property="designerCode"/>
        <result column="designer_dep_code" property="designerDepCode"/>
        <result column="designer_dep_name" property="designerDepName"/>
        <result column="plan_house_time" property="planHouseTime"/>
        <result column="book_house_time" property="bookHouseTime"/>
        <result column="plan_decorate_time" property="planDecorateTime"/>
        <result column="order_flow_status" property="orderFlowStatus"/>
        <result column="payment_status" property="paymentStatus"/>
        <result column="discount_name" property="discountName"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="is_sign_deposit" property="signDeposit"/>
        <result column="is_return_word" property="returnWord"/>
        <result column="store_code" property="storeCode"/>
        <result column="customer_level" property="customerLevel"/>
        <result column="book_house_complete" property="bookHouseComplete"/>
        <result column="book_house_complete_time" property="bookHouseCompleteTime"/>
        <result column="book_house_executor" property="bookHouseExecutor"/>
        <result column="book_house_cadurl" property="bookHouseCadurl"/>
        <result column="out_map_complete" property="outMapComplete"/>
        <result column="out_map_complete_time" property="outMapCompleteTime"/>
        <result column="out_map_executor" property="outMapExecutor"/>
        <result column="out_map_cadurl" property="outMapCadurl"/>
        <result column="contract_uuid" property="contractUuid"/>
        <result column="province_code" property="provinceCode"/>
        <result column="city_code" property="cityCode"/>
        <result column="area_code" property="areaCode"/>
        <result column="contract_start_time" property="contractStartTime"/>
        <result column="contract_complete_time" property="contractCompleteTime"/>
        <result column="remark" property="remark"/>
        <result column="complete_construction_time" property="completeConstructionTime"/>
        <result column="start_construction_time" property="startConstructionTime"/>
        <result column="single_tag_id" property="singleId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, contract_code, customer_id, house_addr, designer, designer_mobile, supervisor, 
    supervisor_mobile, project_manager, pm_mobile, second_contact, second_contact_mobile, 
    meal_id, meal_price, layout, build_area, valuate_area, house_condition, elevator, 
    house_type, address_province, address_city, address_area, activity_name, other_install_info, 
    design_remark, audit_remark, material_status, contract_amount, modify_amount, payment_time,single_order_info,
    designer_org_code,auditor,auditor_mobile,auditor_org_code,contract_status,finance_status
  </sql>

    <select id="getById" resultMap="BaseResultMap">
    select
    cucs.*,cus.customer_level,cus.name AS customer_name,cus.mobile AS customer_mobile,smi.meal_name AS meal_name,sobc.*
    from customer_contract AS cucs
    LEFT JOIN customer cus ON (cucs.customer_id = cus.id)
    LEFT JOIN sm_meal_info smi ON (cucs.meal_id = smi.id)
    LEFT JOIN sm_order_bespeak_contract sobc ON (cucs.contract_code = sobc.contract_code)
    where cucs.id = #{id}
  </select>

    <select id="searchTotal" parameterType="map" resultType="long">
        SELECT COUNT(DISTINCT cucs.contract_code) FROM customer_contract AS cucs
        <include refid="searchFromWhere"/>
    </select>

    <select id="search" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select DISTINCT
        cucs.*,cus.customer_level,cus.name AS customer_name,cus.mobile AS customer_mobile,smi.meal_name AS meal_name
        from customer_contract AS cucs
        <include refid="searchFromWhere"/>
        <if test="sort != null">
            order by
            <foreach collection="sort" item="order" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
        limit #{offset}, #{pageSize}
    </select>

    <sql id="searchFromWhere">
        LEFT JOIN customer cus ON (cucs.customer_id = cus.id)
        LEFT JOIN sm_meal_info smi ON (cucs.meal_id = smi.id)
        LEFT JOIN sm_contract_operate_time_summary scos ON (cucs.contract_code = scos.contract_code)
        <where>
            <if test="keyword != null and keyword != ''">
                ( cucs.contract_code like CONCAT('%', #{keyword}, '%')
                OR cus.name like CONCAT('%', #{keyword}, '%')
                OR cus.mobile like CONCAT('%', #{keyword}, '%') )
            </if>
            <if test="contractStatus != null">
                AND cucs.contract_status = #{contractStatus}
            </if>
            <if test="designer != null and designer != ''">
                AND cucs.designer = #{designer}
            </if>
            <if test="auditor != null and auditor != ''">
                AND cucs.auditor = #{auditor}
            </if>
            <if test="designerCode != null">
                AND cucs.designer_code = #{designerCode}
            </if>
            <if test="auditorOrgCode != null">
                AND cucs.auditor_org_code = #{auditorOrgCode}
            </if>
            <choose>
                <when test="operateType == 'CREATE_TIME'">
                    <if test="startDate != null and startDate != ''">
                        AND cucs.create_time &gt;= #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        AND cucs.create_time &lt;= #{endDate}
                    </if>
                </when>
                <when test="operateType == 'ASSIGN_AUDIT'">
                    <if test="startDate != null and startDate != ''">
                        AND scos.material_submit_audit_time &gt;= #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        AND scos.material_submit_audit_time &lt;= #{endDate}
                    </if>
                </when>
                <when test="operateType == 'UNDER_AUDIT'">
                    <if test="startDate != null and startDate != ''">
                        AND scos.material_assign_audit_time &gt;= #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        AND scos.material_assign_audit_time &lt;= #{endDate}
                    </if>
                </when>
                <when test="operateType == 'AUDIT_PASS'">
                    <if test="startDate != null and startDate != ''">
                        AND scos.material_audit_pass_time &gt;= #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        AND scos.material_audit_pass_time &lt;= #{endDate}
                    </if>
                </when>
                <when test="operateType == 'AUDIT_FAILED'">
                    <if test="startDate != null and startDate != ''">
                        AND scos.material_audit_refuse_time &gt;= #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        AND scos.material_audit_refuse_time &lt;= #{endDate}
                    </if>
                </when>
                <when test="operateType == 'TRANSFER_COMPLETE'">
                    <if test="startDate != null and startDate != ''">
                        AND scos.material_sign_time &gt;= #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        AND scos.material_sign_time &lt;= #{endDate}
                    </if>
                </when>
            </choose>
            AND cucs.store_code = #{storeCode}
            AND cucs.current_change_version is NULL
            AND cucs.contract_status IS NOT NULL
            AND cucs.order_flow_status <![CDATA[ <> ]]> 'APPLY_REFUND'
        </where>
    </sql>

    <delete id="deleteById">
    delete from customer_contract
    where id = #{id}
    </delete>

    <insert id="insert" parameterType="cn.mdni.business.entity.orderflow.CustomerContract">
    insert into customer_contract
    (
        contract_code,
        customer_id,
        house_addr,
        layout,
        build_area,
        house_condition,
        elevator,
        address_province,
        address_city,
        address_area,
        activity_name,
        service_code,
        service_name,
        service_mobile,
        plan_house_time,
        store_code,
        contract_uuid,
        order_flow_status
    )
    values
    (
        #{contractCode},
        #{customerId},
        #{houseAddr},
        #{layout},
        #{buildArea},
        #{houseCondition},
        #{elevator},
        #{addressProvince},
        #{addressCity},
        #{addressArea},
        #{activityName},
        #{serviceCode},
        #{serviceName},
        #{serviceMobile},
        #{planHouseTime},
        #{storeCode},
        #{contractUuid},
        #{orderFlowStatus}
    )
  </insert>

    <update id="update">
        update customer_contract
        <set>
            <if test="contractCode != null">
                contract_code = #{contractCode},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId},
            </if>
            <if test="houseAddr != null">
                house_addr = #{houseAddr},
            </if>
            <if test="designer != null">
                designer = #{designer},
            </if>
            <if test="designerMobile != null">
                designer_mobile = #{designerMobile},
            </if>
            <if test="supervisor != null">
                supervisor = #{supervisor},
            </if>
            <if test="supervisorMobile != null">
                supervisor_mobile = #{supervisorMobile},
            </if>
            <if test="projectManager != null">
                project_manager = #{projectManager},
            </if>
            <if test="pmMobile != null">
                pm_mobile = #{pmMobile},
            </if>
            <if test="secondContact != null">
                second_contact = #{secondContact},
            </if>
            <if test="secondContactMobile != null">
                second_contact_mobile = #{secondContactMobile},
            </if>
            <if test="mealId != null">
                meal_id = #{mealId},
            </if>
            <if test="mealPrice != null">
                meal_price = #{mealPrice},
            </if>
            <if test="layout != null">
                layout = #{layout},
            </if>
            <if test="buildArea != null">
                build_area = #{buildArea},
            </if>
            <if test="valuateArea != null">
                valuate_area = #{valuateArea},
            </if>
            <if test="houseCondition != null">
                house_condition = #{houseCondition},
            </if>
            <if test="elevator != null">
                elevator = #{elevator},
            </if>
            <if test="houseType != null">
                house_type = #{houseType},
            </if>
            <if test="addressProvince != null">
                address_province = #{addressProvince},
            </if>
            <if test="addressCity != null">
                address_city = #{addressCity},
            </if>
            <if test="addressArea != null">
                address_area = #{addressArea},
            </if>
            <if test="activityName != null">
                activity_name = #{activityName},
            </if>
            <if test="otherInstallInfo != null">
                other_install_info = #{otherInstallInfo},
            </if>
            <if test="designRemark != null">
                design_remark = #{designRemark},
            </if>
            <if test="auditRemark != null">
                audit_remark = #{auditRemark},
            </if>
            <if test="contractAmount != null">
                contract_amount = #{contractAmount},
            </if>
            <if test="modifyAmount != null">
                modify_amount = #{modifyAmount},
            </if>
            <if test="paymentTime != null">
                payment_time = #{paymentTime},
            </if>
            <if test="singleOrderInfo != null">
                single_order_info = #{singleOrderInfo},
            </if>
            <if test="designerOrgCode != null">
                designer_org_code = #{designerOrgCode},
            </if>
            <if test="auditor != null">
                auditor = #{auditor},
            </if>
            <if test="auditorMobile != null">
                auditor_mobile = #{auditorMobile},
            </if>
            <if test="auditorOrgCode != null">
                auditor_org_code = #{auditorOrgCode},
            </if>
            <if test="contractStatus != null">
                contract_status = #{contractStatus},
            </if>
            <if test="financeStatus != null">
                finance_status = #{financeStatus},
            </if>
            <if test="currentChangeVersion != null">
                current_change_version = #{currentChangeVersion},
            </if>
            <if test="orderFlowStatus != null">
                order_flow_status = #{orderFlowStatus},
            </if>
            <if test="provinceCode != null">
                province_code = #{provinceCode},
            </if>
            <if test="cityCode != null">
                city_code = #{cityCode},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode},
            </if>
            <if test="singleId != null">
                single_tag_id = #{singleId},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateSingleId">
        update customer_contract set single_tag_id = #{singleId} where id = #{id}
    </update>

    <select id="getByCode" resultMap="BaseResultMap">
    select
    cucs.*,cus.customer_level,cus.name AS customer_name,cus.mobile AS customer_mobile,smi.meal_name AS meal_name,
    sps.contract_start_time,sps.contract_complete_time
    from customer_contract AS cucs
    LEFT JOIN customer cus ON (cucs.customer_id = cus.id)
    LEFT JOIN sm_meal_info smi ON (cucs.meal_id = smi.id)
    LEFT JOIN sm_project_sign sps ON (sps.contract_code = cucs.contract_code)
    where cucs.contract_code = #{code}
  </select>

    <update id="updateStatus">
    update customer_contract set contract_status = #{contractStatus} where contract_code = #{contractCode}
  </update>

    <update id="updateRefundable">
        update customer_contract set is_return_word = #{returnWord} where contract_uuid = #{contractUuid}
    </update>

</mapper>