<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mdni.business.dao.material.ProjectIntemPriceDao">

    <resultMap id="BaseResultMap" type="cn.mdni.business.entity.material.ProjectIntemPrice">
        <id column="store_code" property="storeCode"/>
        <id column="project_intem_id" property="projectIntemId"/>
        <id column="project_intem_price" property="projectIntemPrice"/>
        <id column="project_intem_version" property="projectIntemVersion"/>
        <id column="effect_date" property="effectDate"/>
        <id column="project_intem_price_remarks" property="projectIntemPriceRemarks"/>
        <id column="project_intem_cost_price" property="projectIntemCostPrice"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,store_code,project_intem_id,project_intem_price,project_intem_version,effect_date
        ,project_intem_price_remarks,project_intem_cost_price
    </sql>

    <select id="getById" parameterType="long" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
        sm_project_intem_price
        where id = #{id}
    </select>

    <insert id="insert" parameterType="cn.mdni.business.entity.material.ProjectIntemPrice">
        insert into sm_project_intem_price(
            id,
            store_code,
            project_intem_id,
            project_intem_price,
            project_intem_version,
            effect_date,
            project_intem_price_remarks,
            project_intem_cost_price
        ) values
        (
            #{id},
            #{storeCode},
            #{projectIntemId},
            #{projectIntemPrice},
            #{projectIntemVersion},
            #{effectDate},
            #{projectIntemPriceRemarks},
            #{projectIntemCostPrice}
        )
    </insert>

    <update id="update" parameterType="cn.mdni.business.entity.material.ProjectIntemPrice">
        update sm_project_intem_price
        set
        store_code = #{storeCode},
        project_intem_id = #{projectIntemId},
        project_intem_price = #{projectIntemPrice},
        project_intem_version = #{projectIntemVersion},
        effect_date = #{effectDate},
        project_intem_price_remarks = #{projectIntemPriceRemarks},
        project_intem_cost_pric = #{projectIntemCostPrice}
        where
        id = #{id}
    </update>




</mapper>