<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.damei.business.dao.material.SmMaterialChangeAuditRecordDao">
  <resultMap id="BaseResultMap" type="SmMaterialChangeAuditRecord">
    <id column="id"                   property="id" />
    <result column="change_no"        property="changeNo" />
    <result column="audit_user"       property="auditUser" />
    <result column="audit_dep"        property="auditDep" />
    <result column="audit_time"       property="auditTime" />
    <result column="audit_result"     property="auditResult" />
    <result column="audit_remark"     property="auditRemark" />
    <result column="audit_user_type"     property="auditUserType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, change_no, audit_user, audit_dep, audit_time, audit_result, audit_remark,audit_user_type
  </sql>
  <insert id="insert" parameterType="SmMaterialChangeAuditRecord">
    insert into sm_material_change_audit_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="changeNo != null">
        change_no,
      </if>
      <if test="auditUser != null">
        audit_user,
      </if>
      <if test="auditDep != null">
        audit_dep,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="auditResult != null">
        audit_result,
      </if>
      <if test="auditRemark != null">
        audit_remark,
      </if>
      <if test="auditUserType != null">
        audit_user_type
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="changeNo != null">
        #{changeNo},
      </if>
      <if test="auditUser != null">
        #{auditUser},
      </if>
      <if test="auditDep != null">
        #{auditDep},
      </if>
      <if test="auditTime != null">
        #{auditTime},
      </if>
      <if test="auditResult != null">
        #{auditResult},
      </if>
      <if test="auditRemark != null">
        #{auditRemark},
      </if>
      <if test="auditUserType != null">
        #{auditUserType}
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="SmMaterialChangeAuditRecord">
    update sm_material_change_audit_record
    <set>
      <if test="changeNo != null">
        change_no = #{changeNo},
      </if>
      <if test="auditUser != null">
        audit_user = #{auditUser},
      </if>
      <if test="auditDep != null">
        audit_dep = #{auditDep},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime},
      </if>
      <if test="auditResult != null">
        audit_result = #{auditResult},
      </if>
      <if test="auditRemark != null">
        audit_remark = #{auditRemark},
      </if>
      <if test="auditUserType != null">
        audit_user_type = #{auditUserType}
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="getByChangeNos" resultMap="BaseResultMap">
    select scd.contract_code,scd.change_no,smc.audit_user,smc.audit_user_type from sm_change_detail as scd
    LEFT JOIN sm_material_change_audit_record as smc on smc.change_no = scd.change_no
    where scd.id in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <select id="getByChangeNo" parameterType="string" resultType="date">
      select audit_time from sm_material_change_audit_record where change_no = #{changeNo}
      and audit_result = 'EXAMINATIONPASSED' and audit_user_type = '审计员'
  </select>

  <select id="getRecordByChangeNo" parameterType="string" resultMap="BaseResultMap">
    select * from sm_material_change_audit_record where change_no = #{changeNo}
    and audit_result = 'EXAMINATIONPASSED' and audit_user_type = '审计员'
  </select>

  <select id="getNameByChangeNo" parameterType="string" resultMap="BaseResultMap">
    select * from sm_material_change_audit_record where change_no = #{changeNo}
  </select>


</mapper>